@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
    font-family: 'Pretendard', sans-serif;
    background-color: #37418b;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-shape {
    position: absolute;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    z-index: -1;
    animation: morph 8s ease-in-out infinite both alternate;
}

.bg-shape-1 {
    width: 800px;
    height: 800px;
    bottom: -300px;
    left: -200px;
}

.bg-shape-2 {
    width: 600px;
    height: 600px;
    top: -200px;
    right: -100px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

@keyframes morph {
    0%, 100% { border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%; }
    34% { border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%; }
    67% { border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%; }
}

.pokemon-img {
    filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.4));
    transition: transform 0.3s ease;
}

.pokemon-img:hover {
    transform: scale(1.05) translateY(-10px);
}
